<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PonyCon Countdown</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/accessibility.css">
    <link rel="stylesheet" id="dark-theme" href="/assets/css/dark.css">
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/countdown.js"></script>
    <script src="/assets/js/dark.js"></script>
    <link rel="shortcut icon" href="/assets/img/logo.svg" type="image/svg">
</head>
<body class="app">
<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" tabindex="0">
                <img src="/assets/img/logo.svg" alt="Logo" class="rounded-pill nav-logo">
                PonyCon Countdown
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item a11y-skip">
                        <a class="nav-link" href="#list" tabindex="0">Skip to main content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://status.equestria.dev" tabindex="0">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://twitter.com/Con_Countdown" tabindex="0">Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://pony.social/@coninfo" tabindex="0">Mastodon</a>
                    </li>
                    <li class="nav-item theme-switcher">
                        <a onclick="switchTheme();" tabindex="0">
                            <img alt="Theme" id="theme-switcher-img" src="/assets/img/dark.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<main class="main-box">
    <div class="container">
        <div class="list-group" id="list">
            <details class="list-group-item list-group-item-action convention">
                <summary tabindex="0">
                    <img src="/assets/img/placeholder.png" alt="Convention icon" class="convention-icon">
                    <span class="name">
                            Name of the con
                        </span>
                    <span class="badge bg-primary rounded-pill convention-location">IRL</span>
                    <span class="intro-countdown countdown" data-countdown-date="1668044032944"></span>
                </summary>

                <div class="list-group-item convention-details">
                    <div class="details-icon">
                        <img src="/assets/img/placeholder.png" alt="Convention icon" class="details-icon-img">
                    </div>
                    <div class="details-info">
                        <h4 class="countdown-container"><b class="countdown" data-countdown-date="1668044032944"></b></h4>
                        <div class="details-points">
                            <p class="details-description">Hello I am a description</p>
                            <b>Starts:</b> <pc-date>1661946063848</pc-date><br>
                            <b>Ends:</b> <pc-date>1662119168006</pc-date><br>
                            <b>Location:</b> Fire Land, East Lava, Hell
                        </div>
                        <div class="links">
                            <div class="btn-group">
                                <a title="Visit website" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://example.com" type="button" class="btn btn-primary">
                                    <img class="social-icon website-icon" src="/assets/social/website.png" alt="Website">
                                    <span class="website-label">Website</span>
                                </a>
                                <a title="Join Pony Town server" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://event.pony.town" type="button" class="btn btn-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/ponytown.png" alt="Pony Town">
                                </a>
                                <a title="Discord" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://discord.com" type="button" class="btn btn-outline-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/discord.png" alt="Discord">
                                </a>
                                <a title="Mastodon" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://equestria.social/@minteck" type="button" class="btn btn-outline-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/mastodon.png" alt="Mastodon">
                                </a>
                                <a title="Twitter" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://twitter.com/leahpone" type="button" class="btn btn-outline-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/twitter.png" alt="Twitter">
                                </a>
                                <a title="YouTube" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://youtube.com" type="button" class="btn btn-outline-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/youtube.png" alt="YouTube">
                                </a>
                                <a title="Instagram" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://instagram.com" type="button" class="btn btn-outline-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/instagram.png" alt="Instagram">
                                </a>
                                <a title="Facebook" data-bs-toggle="tooltip" role="button" tabindex="0" target="_blank" href="https://facebook.com" type="button" class="btn btn-outline-primary btn-with-icon">
                                    <img class="social-icon" src="/assets/social/facebook.png" alt="Facebook">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </details>
        </div>
    </div>
</main>

<footer>
    <div class="container text-muted">
        © 2022 <a href="https://equestria.dev" class="text-muted">Equestria.dev Developers</a>
    </div>
</footer>

<script>
    if (darkThemeDefault) {
        switchTheme();
    }
</script>
<script src="/assets/js/tooltips.js"></script>
</body>
</html>