.app {
    background-color: rgb(10, 10, 10);
}

nav.navbar {
    background-color: rgb(10, 10, 10) !important;
}

nav, nav * {
    color: white !important;
    transition: opacity 200ms;
}

.nav-item:hover {
    opacity: .75;
}

.main-box {
    background-color: rgb(30, 30, 30);
}

.convention > summary {
    color: white !important;
    background-color: rgb(35, 35, 35);
}

.convention {
    border-color: rgba(60, 60, 60) !important;
    background-color: rgb(40, 40, 40) !important;
}

.convention[open] {
    background-color: rgb(40, 40, 40) !important;
}

.convention > summary:hover {
    background-color: rgb(40, 40, 40);
}

.convention[open] > summary:hover {
    background-color: rgb(45, 45, 45) !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.convention-details {
    border-bottom-right-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    background-color: rgb(45, 45, 45) !important;
    border-color: rgba(60, 60, 60) !important;
    color: white;
}

.btn, .badge, .alert, .pt-banner, .pt-banner-button-primary, .pt-banner-button-secondary {
    filter: invert(1) hue-rotate(180deg) !important;
}

.navbar-toggler, .form-select {
    filter: invert(1);
}

.countdown-item, .countdown-item * {
    color: white !important;
}

.modal-header {
    border-bottom: 1px solid #353738;
}

.modal-content {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: #111;
    color: white;
}

.btn-close {
    filter: invert(1);
}

.form-control {
    color: white;
    background-color: #222 !important;
    border-color: #333;
}

#share-box {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#settings-box {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.alert-icon {
    filter: invert(1);
}